@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 768px) {
  .tweet-form {
    width: 80%;
    margin: 0 auto;
  }

  .generated-tweet-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}

@layer base {
  @font-face {
    font-family: "AnonPro";
    src: url("../public/fonts/AnonymousPro-Bold.ttf") format("truetype");
  }
  :root {
    --color-primary: 29, 161, 242;
  }
}
